{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}
    <div  id="container">


    <div id="cadre-etudiants">


        <div id="menu-etudiants">

              {% include 'includes/menu_comptabilite.html' %}


        </div>


        <div id="infos-etudiants">


         {% include 'includes/messages.html' %}

                                    <div class="row" id="row-etudiants">


                            <div class="col-md-9">

                                <div id="classe-form">
                                 <form style="" method='get' >

                                      {{ myFilter.form }}
                                      {{ form|crispy }}


                                    <input type="submit" value="Recherche">

                                </form>
                            </div>
                            </div>


                            <div class="col-md-3" style=" font-size: 12px;">

                        <span id="imprimer" onclick="printDiv7()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                        <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                        <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        </svg>
                        </span>

                            </div>

                        </div>

            <div id="cadre" style="height: 75vh;overflow:hidden; margin-top: 10px">


                <table class="table" id="table">

                            <thead>
                            <tr id="tete-table">
                                <th scope="col">Descriptions</th>
                                 <th scope="col">Mois</th>
                                 <th scope="col">Années</th>
                                 <th scope="col">Dates</th>
                                 <th scope="col" style="">Montant (GNF)</th>
                                <th scope="col">Actions</th>

                            </tr>
                            </thead>


                            <tbody>

                            {% for charge in charges_filters%}


                                <tr>

                                    <td style=""> {{ charge.commentaire }}  </td>
                                    <td style="">{{ charge.mois }}</td>
                                    <td style="">{{ charge.annee }}</td>
                                    <td style="">{{ charge.date }}</td>
                                      <td style="font-weight: bold; color: red">{{ charge.montant }}  GNF </td>


                                   <td style="">

                                       <span>

                                           <a href="{% url 'apps:modifier-charges' charge.id%}">
                                             <svg style="margin-top: 2px" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                               <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                           </a>

                                       </span>


                                       <span>

                                           <a href="{% url 'apps:supprimer-charges' charge.id %}">

                                            <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                               <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>

                                           </a>

                                       </span>

                                   </td>


                                </tr>



                            {% endfor %}




                            </tbody>

                </table>


               <div id="imprimer-salaire">{% include 'includes/imprimer_charges.html' %}</div>








            </div>



                      <div style="width: 95%; margin: auto">

                <span id="ajouter-inscrit">


                    <a style="color: red" href="{% url 'apps:ajouter-charges' %}">

                        <span>+</span> Ajouter une nouvelle charge

                    </a>


                </span>



          </div>


        </div>










    </div>







    </div>





{% endblock body %}

