{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>{% block title %}Gesco{% endblock %}</title>
      <link rel="icon" type="image/png" href="{% static 'apps/img/favcon.png' %}"/>
      <link rel="stylesheet" type="text/css" href=" {% static 'apps/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href=" {% static 'apps/css/bootstrap.min.css'%}">
</head>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v13.0" nonce="eKAcqXxp"></script>


<body>



<div id="header">

</div>



{% autoescape off %}


    {% block body %}



    {% endblock body %}



{% endautoescape %}

<div id="footer">


</div>


<script src="{% static 'apps/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'apps/js/bootstrap.popper.min.js' %}"></script>
<script src="{% static 'apps/js/jquery.js' %}"> </script>
<script src="{% static 'apps/js/js.js' %}"> </script>
<script src="{% static 'apps/js/css.js' %}"> </script>




</body>
</html>
