{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load class_name %}
{% load django_template_maths %}


{% block body %}
    <div  id="container">


    <div id="cadre-etudiants">


        <div id="menu-etudiants">

           {% include 'includes/menu_etudiants.html' %}


        </div>


        <div id="infos-etudiants">

                        <div class="row" id="row-etudiants">


                            <div class="col-md-12">
                                <form style="" method='get' action="{% url 'apps:search-etudiants' %}"

                                      class="navbar-form navbar-right" role="search">

                                    <input id="search-form"
                                           style=" margin-left: -8px;background-image: url( '{% static 'apps/img/search.png' %}')" name="q"
                                           type="search" minlength="1" placeholder="Nom, Prénom, Matricule ..."
                                           class="form-control"/>

                                </form>
                            </div>



                        </div>



           <div id="cadre-nombre">


                       <h1 id="nombre">


                            {% if   query == "" %}

                         <span style="color: red"> Veuillez saisir un mot cle dans la bare de recherche .... </span>


                       {% else %}



                        {% if  count > 1 %}


                          <span>  <span style="font-weight: bold; color:red;"> {{ count }}</span>  résultats  trouvés   pour <span style="font-weight: bold; color:red;">{{ query }}</span></span>

                        {% elif  count == 1 %}

                           <span>  <span style="font-weight: bold; color:red;"> {{ count }}</span>    résultat  trouvé   pour <span style="font-weight: bold; color:red;">{{ query }}</span></span>

                          {% elif  count == 0 %}

                           <span>  <span style="font-weight: bold; color:red;"> {{ count }}</span>    résultat  trouvé   pour <span style="font-weight: bold; color:red;">{{ query }}</span></span>
                       {% endif  %}


                      {% endif  %}




                       </h1>



              </div>



            <div id="cadre">


                <table class="table" id="table">



                     <thead>

                            <tr id="tete-table">
                                <th scope="col">Photo</th>
                                <th scope="col">Matricule</th>
                                <th scope="col"> <span> Prénom </span></th>
                                <th scope="col"> <span>Nom</span></th>
                                <th scope="col" style=""><span>Naissance</span></th>
                                <th scope="col" style=""><span>Numéro</span></th>
                                <th scope="col">Détails</th>

                            </tr>

                            </thead>





                            <tbody>




                              {% if query %}



                                 {% for etudiant in object_list %}

                                {% with etudiant|class_name as klass %}

                                {% if  query %}

                                <tr>

                                    <td style=""> {% if etudiant.photo %}<img style="width: 40px; height: 40px; border-radius: 200px" src="{{ etudiant.photo.url }}"/> {% else %}<img style="width: 40px; height: 40px" src="{% static 'apps/img/user.png' %}"/>  {% endif %} </td>
                                    <td style="color: red; font-weight: bold"> {{ etudiant.matricule }}  </td>
                                    <td style="font-weight: bold"> {{ etudiant.prenom }}  </td>
                                    <td style="font-weight: bold"> {{ etudiant.nom }} </td>
                                    <td style="">{{ etudiant.naissance }}</td>
                                    <td style="">{{ etudiant.numero }}</td>






                                    <td style="text-align: center"><a href="{% url 'apps:details-etudiants' etudiant.id%}" style=" text-decoration: none;">Afficher</a></td>




                                </tr>


                           {% endif %}







                           {% endwith %}

                         {% empty %}
                        {% endfor %}



                              {% else %}

                            {% for etudiant in etudiants_home %}


                                <tr>


                                    <td style=""> {% if etudiant.photo %}<img style="width: 40px; height: 40px; border-radius: 200px" src="{{ etudiant.photo.url }}"/> {% else %}<img style="width: 40px; height: 40px" src="{% static 'apps/img/user.png' %}"/>  {% endif %} </td>
                                    <td style="color: red; font-weight: bold"> {{ etudiant.matricule }}  </td>
                                    <td style="font-weight: bold"> {{ etudiant.prenom }}  </td>
                                    <td style="font-weight: bold;"> {{ etudiant.nom }} </td>
                                    <td style="">{{ etudiant.naissance }}</td>
                                    <td style="">{{ etudiant.numero }}</td>






                                    <td style="text-align: center"><a href="{% url 'apps:details-etudiants' etudiant.id%}" style=" text-decoration: none;">Afficher</a></td>




                                </tr>




                            {% endfor %}



                            {% endif %}








                            </tbody>



                </table>


            </div>


        <div id="cadre-ajouts">

           <div style="float: right;">

                      <a style="margin-left: -20px" href="{% url 'apps:etudiants' %}">

                          <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                         <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                          </span>



                      </a>


                   </div>



                    {% for etudiant in dernier_etudiant %}


                        <h1 id="titre-enregistrer">    <span><svg style="margin-top: -5px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16"><path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/></svg></span>

                            Enregistrer un nouveau étudiant

                        </h1>


                        <br>
                        <p style="text-align: center; font-size: 12px; font-weight: bold">  Matricule à attribué : <span style="color: red;">{{ etudiant.matricule|add:1 }}</span></p>

                    {% endfor %}


                 <br>
                           <form id="form" method="post" enctype="multipart/form-data">

                                {% csrf_token %}
                                {{ form|crispy }}

                                <br><br> <br><br>

                                <div class="form-group" style="margin: 10px; text-align: center">

                                    <button  class="btn btn-danger" type="submit">Enregistrer</button>

                                </div>
                                <br>


                            </form>





        </div>





          <div style="width: 95%; margin: auto">

                <span id="ajouter">

                    <span><svg style="margin-top: -5px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16"><path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/></svg></span>

                    Enregistrer un nouveau étudiant

                </span>



          </div>



        </div>










    </div>







    </div>





{% endblock body %}

