{% extends 'base.html' %}
{% load static %}



{% block body %}
    <div id="container">


        <div id="cadre-home">


            <div id="mini">


                <img src="{% static 'apps/img/etudiant.png' %}"><br><br>

                <a href="{% url 'apps:etudiants' %}">Étudiants <span
                        style="color: red">({{ etudiants.count }})</span></a><br>


            </div>

            <div id="mini">

                <img src="{% static 'apps/img/enseignant.png' %}"><br><br>


                <a href="{% url 'apps:enseignants' %}">Enseignants <span
                        style="color: red">({{ enseignants.count }})</span></a>

            </div>


            <div id="mini">

                <img src="{% static 'apps/img/comptabilite.png' %}"><br><br>


                <a href="{% url 'apps:comptabilite' %}">Comptabilité</a>


            </div>


            <div id="mini">

                <img src="{% static 'apps/img/parametres.png' %}"><br><br>


                <a href="{% url 'apps:configurations' %}">Configuration</a>


            </div>


            <div id="mini">

                <img src="{% static 'apps/img/logout.png' %}"><br><br>


                <a href="{% url 'apps:logout' %}">Déconnexion</a>


            </div>


        </div>


    </div>





{% endblock body %}

