{% extends 'base_login.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}



    <div class="container">

        <form id="form-login" method="post" enctype="multipart/form-data">

            <h1 style="text-align: center">GESCO </h1><br>

            {% csrf_token %}

                {{ form|crispy }}


            <div class="form-group">
                <br>

                <button class="btn btn-danger" type="submit">Se Connecter</button>

            </div>
            <br><br>

            <div style="width: 50%; margin: auto">
                <span>Nom d’utilisateur : demo</span><br>
                <span>Mot de passe : demo</span>


            </div>

        </form>
        <br><br>


        <h1 style=" width: 50%; padding: 10px; margin: auto;  text-align: center; font-size: 15px; background-color: yellow">
            GESCO -
            Logiciel de gestion
            d'établissement( primaire,lycée et
            autres) version
            test </h1>
        <br>


    </div>










{% endblock body %}

